.user_option_area{
  width: 100%;
  height: 100%;
}
.user_option_title{
  width: 100%;
  background-color:rgb(102, 99, 99);
  color: white;
  height: 10px;
}
.time_index_table{
  height: 250px;
  width: 100%;
}
.time_index_table2{
  height: 10px;
  width: 100%;
}
.user_option_title1{
  height: 10px;
  width: 50%;
  border: 1px solid black;
}
.time_add{
  border: 1px solid skyblue;
  background-color: skyblue;
  color: white;
  box-shadow:
    0 1.9px 2.5px rgba(211, 211, 211, 0.057),
    0 5px 6.1px rgba(211, 211, 211, 0.076),
    0 10.1px 11.4px rgba(211, 211, 211, 0.086),
    0 19.2px 19.8px rgba(211, 211, 211, 0.092),
    0 38.4px 34.8px rgba(211, 211, 211, 0.1),
    0 101px 74px rgba(211, 211, 211, 0.13);
  border-radius: 3px;
}
.time_add:hover {
  box-shadow: inset 1px 1px 10px 2px rgba(235, 235, 235, 0.5);
}
.option_time{
  margin-bottom:30px;
  text-align: center;
}
.index_user_option_th{
  height: 80px;
}
