.header_view{
  min-width: 980px;
  min-height: 100px;
  background: #fff9ed;
  background-size: cover;
}
.salon_view_top{
  margin: 0 auto;
  min-width: 100%;
  display: flex;
  height: 100%;
}
.salon_view_area{
  width: 100px;
  height: 100px;
}
.salon-icon-view{
  width: 100px;
  height: 70px;
}
.salon_icon_view{
  height: 70px;
  width: 100px;
  background-color: aqua;
  margin-left: 10px;
  margin-top: 10px;
}
.salon_view_right{
  margin-top: 10px;
  width: 100%;
  margin-left: 10px;
}
.salon_name_view{
  margin-left: 10px;
  font-size: 20px;
  height: 50%;
}
.salon_name_cana{
  font-size: 8px;
  color: rgb(156, 149, 149)
}
.salon_view_address{
  font-size: 8px;
  color: rgb(156, 149, 149);
  margin-top: 10px;
  height: calc(100% - 10px);
}
.book_area{
  height: 50%;
  width: 100%;
  padding-top:10px;
}
.book_btn{
  border: 1px solid #da5e0b;
  background-color: #ee7727;
  box-shadow: 0 1.9px 2.5px rgb(49, 49, 49);
  padding: 10px 30px;
  text-align: center;
  margin-left: 30%;
  color: rgb(255, 235, 235);
}
.book_btn:hover, .salon_new_btn:hover, .salon_log_btn:hover{
  opacity: 0.8;
}
.book_btn:active, .salon_new_btn:active, .salon_log_btn:active, .salon_information_area:active {
  bottom: 5px;
  box-shadow: none;
}
.salon_log_all{
  width: 50%;
}
.salon_log_btn_area{
  display: flex; 
  text-align: center;
  width: 100%;
}
.salon_new_btn_li{
  width: 50%;
}
.salon_log_btn_li{
  width: 50%;
}
.salon_new_btn{
  border: 1px solid #ffedcf;
  background-color: #f8fa95a6;
  box-shadow: 0 1.9px 2.5px rgb(107, 107, 107);
  text-align: center;
  margin-left: 20%;
  padding: 10px 5px;
  color: rgb(94, 73, 53);
  border-radius: 5px;
}
.salon_log_btn{
  border: 1px solid #ffedcf;
  background-color: #f8fa95a6;
  box-shadow: 0 1.9px 2.5px rgb(107, 107, 107);
  padding: 10px 5px;
  text-align: center;
  margin-left: 10%;
  color: rgb(94, 73, 53);
  border-radius: 5px;
}
.salon_view_bottom{
  min-height: 45px;
  min-width: 980px;
  background: #ffefd7;
  background-size: cover;
}
.salon_new_btn1{
  border: 1px solid #ffedcf;
  background-color: #f8fa95a6;
  box-shadow: 0 1.9px 2.5px rgb(107, 107, 107);
  text-align: center;
  margin-left: 20%;
  padding: 10px 5px;
  color: rgb(94, 73, 53);
  border-radius: 5px;
}
.salon_log_btn1{
  border: 1px solid #ffedcf;
  background-color: #f8fa95a6;
  box-shadow: 0 1.9px 2.5px rgb(107, 107, 107);
  padding: 10px 5px;
  text-align: center;
  margin-left: 10%;
  color: rgb(94, 73, 53);
  border-radius: 5px;
}


.salon_view_bottom_ul{
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}
.salon_information_area{
  border: 1px solid rgb(241, 241, 241);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1.9px 2.5px rgb(155, 155, 155);
  border-radius: 100px;
  width: 150px;
  height: 80%;
  text-align: center;
  margin-left: 10px;
}
.salon_information_btn{
  margin-top: 6px;
  text-align: center;
  color: rgb(133, 133, 133);
  display: inline-block;
  
}
.salon_information_btn:hover{
  color: rgb(75, 75, 75);
}