<tr>
  <%# スタイリストIDを持ってくる %>
  <th class="table_stylist_top"> 
    <%= link_to "#" do %>
      <p class="reservation_name"><%= reservations.stylist_first_name.to_s +  reservations.stylist_last_name.to_s %></p>
    <% end %>
  </th>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
  <td class="table_stylist">
    <p class="table_stylist1"></p><p class="table_stylist2"></p><p class="table_stylist3"></p>
  </td>
</tr>