<div class="contents_new" style="background-color: rgb(237, 228, 217);">
    <%= link_to users_reservations_path do%>
      <p class="new_reservation_top">トップページに戻る</p>
    <% end%>
    <p class="create_text_area">
      ご予約内容の確認をしてください
    </p>
</div>