.search_category_area{
  height: 120px;
}
.display_menu{
  height: 100%;
  width: 100%;

}
.block_area_menu{
  width: 20px;
  background-color: rgb(249, 188, 198);
  height: 100%;
  
}
.new_menu_area{
  height: 200px;
  margin-bottom: 10px;
  border: 1px solid rgb(164, 164, 164);
  display: flex;
}
.menu_customer{
  color: red;
  -webkit-text-orientation: upright;
  text-orientation: upright;
  writing-mode: vertical-lr;
}
.menu_text_area{
  width: 70%;
}
.menu_resevation_btn_area{
  width: 30%;
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.menu_category_area{
  display: flex;
  margin-top: 10px;
}
.menu_category_list{
  font-size: 12px;
  border:1px solid;
  background-color: rgb(242, 139, 139);
  color:white;
  margin-left: 5px;
}
.menu_name_area{
  width: 100%;
  height: 60px;
  display: flex;
}
.menu_name_display{
  width: 60%;
}
.menu_price{
  margin-left: 20%;
}
.menu_text_area1{
  width: 100%;
  height: 60px;
  margin-top:30px;
}
.menu_text_line{
  font-size:12px
}
.menu_link_btn{
  border: 1px solid rgb(186, 44, 44);
  background-color: rgba(186, 44, 44, 0.804);
  color: white;
  box-shadow: 3px 3px 3px gray;
  border-radius: 5px;
  position: relative;
  width: 200px;
  height: 50px;
  text-align: center;
  padding-top: 25px;
}
.menu_link_btn:active{
  top: 3px;
  box-shadow: none;
}
.menu_link_btn:hover{
  opacity: 0.8;
}
.salon_title_area{
  width: 100%;
  height: 110px;
  background-color: rgb(203, 200, 200);
}
.new_reservation_display{
  width: 100%;
  height: 20px;
}
.new_reservation_display_list{
  display: flex;

}
.reservation_li1{
  border: 1px solid rgb(242, 139, 139); 
  background-color: rgb(242, 139, 139);
  color: white;
  padding: 2px 10px;
}
.reservation_li2{
  color: rgb(242, 106, 106);
  margin-top: 2px;
  margin-left: 8px;
}
.re_new_salon_title{
  height: 50px;
  width: 100%;
  margin-top: 30px; 
  margin-left: 10px;
}
.re_new_title{
  color:black;
  font-size: 20px;
}
.re_new_subtitle{
  color:rgb(55, 54, 54);
  font-size: 10px;
  margin-top: 5px;
}
.new_reservation_description_area{
  margin-top: 20px;
  height: 80px;
  width: 100%;
}
.new_reservation_description1{
  font-size: 18px;
}
.new_reservation_description2{
  margin-top:10px;
  font-size: 12px;
}
.contents_new{
  min-width: 980px;
  height: 100%;
  background: #ffffff;
  margin-right: auto;
  padding: 10px;
}
.new_reservation_maru{
  color:rgb(21, 8, 8);
}
.new_reservation_menu_area{
  height: 70px;
  border: 1px solid rgb(155, 155, 155);
}
.new_reservation_menu1{
  display: flex;
  margin-top: 10px;
}
.new_reservation_choice{
  color: rgb(242, 106, 106);
  font-size:14px;
}
.new_reservation_category{
  border: 1px solid rgb(242, 139, 139);
  background-color: rgb(242, 139, 139);
  color: white;
  margin-left: 5px;
  font-size:8px;
  padding: 3px 5px;
}
.new_reservation_menu_name{
  margin-left: 7px;
  font-size:14px;
  margin-top:2px;
}
.new_reservation_menu_price{
  margin-left: 100px;
}
.new_reservation_menu_time{
  margin-left: 50px;
  
}
.time_sum_area{
  margin-top: 15px;
  width: 300px;
  display: flex;
  list-style: none;
  border: 1px solid rgb(155, 155, 155);
}
.time_sum_name{
  background-color: rgb(203, 200, 200);
  font-size:14px;
  padding-top: 3px;
  padding-left:10px;
  padding-right: 15px;
}
.time_sum{
  margin-left: 30px;
  font-size: 12px;
  padding: 3px;
}
.table_reservation_new1{
  width: 100%;
  height: 700px;
  background-color: white;
}
.salon_free_name{
  border: 1px solid rgb(155, 155, 155);
  width: 140px;
  margin-left: 20px;
  padding-left: 20px;
  margin-top: 20px;
}

.ago_week_area{
  display: flex;
  font-size: 10px;
}
.ago_week{
  position: relative;
  padding-left: 10px;
  margin-left: 15px;
  color:gray;
}
.ago_week:before{
  content: "";
  position: absolute;
  top: .10em;
  left: 0;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent gray transparent transparent;
  top: 2px;
}
.next_week_area{
  display: flex;
  font-size: 10px;
}
.next_week{
  position: relative;
  padding-left: 10px;
  margin-left: 15px;
}
.next_week::after{
  content: "";
  position: absolute;
  top: .10em;
  left: 70px;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(191, 101, 101);
  top: 2px;
}
.reservation_center_name{
  text-align: center;
}
.new_reservation_date{
  height: 40px;
  font-size: 12px;
}
.new_reservation_time{
  height: 40px;
}
.new_reservation_maru{
  color:rgb(242, 124, 124);
}
.next_week1{
  color: rgb(193, 32, 32);
}
.today_color{
  color: rgb(88, 88, 244);
}
.category_font{
  text-orientation: mixed;
  text-orientation: upright;
}